<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>BankManageSystem</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>account.html</welcome-file>
    <welcome-file>account.htm</welcome-file>
    <welcome-file>account.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.revature.project.bankmanage.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.revature.project.bankmanage.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Account</display-name>
    <servlet-name>Account</servlet-name>
    <servlet-class>com.revature.project.bankmanage.Account</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Account</servlet-name>
    <url-pattern>/account</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deposit</display-name>
    <servlet-name>Deposit</servlet-name>
    <servlet-class>com.revature.project.bankmanage.Deposit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deposit</servlet-name>
    <url-pattern>/deposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Withdraw</display-name>
    <servlet-name>Withdraw</servlet-name>
    <servlet-class>com.revature.project.bankmanage.Withdraw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Withdraw</servlet-name>
    <url-pattern>/withdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Transfer</display-name>
    <servlet-name>Transfer</servlet-name>
    <servlet-class>com.revature.project.bankmanage.Transfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transfer</servlet-name>
    <url-pattern>/transfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignOut</display-name>
    <servlet-name>SignOut</servlet-name>
    <servlet-class>com.revature.project.bankmanage.SignOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignOut</servlet-name>
    <url-pattern>/signOut</url-pattern>
  </servlet-mapping>
</web-app>